.footer {
	background-color: #232f3e;
	color: white;
	padding: 50px 30px 80px 30px;
	display: flex;
	justify-content: space-evenly;
}

.footer__card > p:first-child {
	font-weight: 800;
}

.footer__card > p {
	line-height: 1.7;
}
