.register {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	background-color: #fff;
}

.register__logo {
	object-fit: contain;
	margin: 20px 0;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.register__container {
	width: 300px;
	height: fit-content;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	border: 1px solid lightgray;
	padding: 20px;
}

.register__container > h1 {
	font-weight: 500;
	margin-bottom: 20px;
}

.register__container > form > h5 {
	margin-bottom: 5px;
}

.register__container > form > input {
	height: 30px;
	margin-bottom: 10px;
	background-color: white;
	width: 98%;
}

.register__container > p {
	margin-top: 15px;
	font-size: 12px;
}

.register__registerButton {
	background-color: #f1c860;
	border: 1px solid;
	border-radius: 2px;
	width: 100%;
	height: 30px;
	margin-top: 10px;
	border-color: darkgray;
}

.register__registerButton:hover {
	cursor: pointer;
	background-color: #f1bd37;
}
